.App {
	text-align: center;
	background-color: rgb(242, 242, 242);
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: rgb(242, 242, 242);
	height: 120px;
	text-align: left;
	color: #4572b7;
	font-size: 20px;
}
.page-title {
	color: rgb(69, 114, 183);
	font-size: 30px;
	width: 100%;
	max-width: 960px;
	align-items: left;
	align-self: left;
}
.App-title {
	font-size: 1.5em;
}
.App-Content {
	background-color: black;
	height: 100px;
}
.App-intro {
	font-size: large;
	height: 150px;
	background-color: rgb(242, 242, 242);
}
.btn-style {
	font-size: 48rem;
	font-weight: 500;
}
.separator {
	width: 1px;
	height: 50px;
	background-color: red;
}
.centerAlign {
	align-content: center;
}
.dottedDiv {
	border-style: dotted;
	border-width: 2px;
	border-color: grey;
	font-size: 20px;
	color: grey;
	margin-right: 10px;
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.fileBtn {
	border-style: none;
	text-underline-position: bottom;
	color: rgb(69, 114, 183);
	font-size: 10px;
	margin-right: 50px;
	position: absolute;
	right: 2px;
	top: 10px;
}
.top {
	position: absolute;
	border-right: 1px solid grey;
	left: 50%;
	width: 1px;
	height: 30px;
}

.down {
	position: absolute;
	border-right: 1px solid grey;
	left: 50%;
	bottom: 0;
	width: 1px;
	height: 30px;
}

@media screen and (max-width: 768px) {
	.top,
	.down {
		display: none;
	}
	.fileBtn {
	}
}
